<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/main.css">
<head>
  <title>Edit review</title>
</head>

<body>   
  <h1>Edit review</h1>
  <form action="/edit_review" method="post">

    <!-- Title -->
    <p>
        <label for="title">Title:</label><br/>
        <input 
          type="text" 
          name="title" 
          minlength="1"
          maxlength="255" 
          required/>
    </p>

    <!-- Review body text-->
     <p>
        <label for="review_body">Body:</label><br/>
         <textarea 
          type="text" 
          name="review_body"
          rows="8"
          cols="60"
          required></textarea>
     </p>

    <!-- Pick the score from 0 to 5. Nothing means unranked. Can be null-->
    <p>
      <label for="stars">Stars:</label><br/>
      <input type="radio" name="stars" value="0" /> 0
      <input type="radio" name="stars" value="1" /> 1
      <input type="radio" name="stars" value="2" /> 2
      <input type="radio" name="stars" value="3" /> 3
      <input type="radio" name="stars" value="4" /> 4
      <input type="radio" name="stars" value="5" /> 5
    </p>

    <!-- Work being reviewed. Work id will be placed automatically **according to the imdb database.** This will be separate from the name of the work according to imdb-->
     <p>
      <label for="work">Work:</label><br/>
         <input 
          type="text" 
          name="work"
          minlength="1"
          maxlength="255"
          required/>
     </p>

     <!-- IMDb work snippet-->
     <p>
      <label for="imdb_snippet">Link to work page:</label><br/>
         <input 
          type="text" 
          name="imdb_snippet"
          minlength="3"
          maxlength="255"
          required/>
     </p>

     <!-- Classification of the work - https://en.wikipedia.org/wiki/List_of_genres-->
      {% for class in all_classes %}
      <p>
        <label for="classes">{{ class }}:</label><br/>
        <select name="classes">
          <option value="">(select)</option>
          {% for option in all_classes[class] %}
          {% if classes[class] == option %}
          <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </p>
      {% endfor %}

      Note that genre separations are necessarily imperfect. Pick the one that fits your conception of the work at hand.
      </p>

      
     <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
     <input type="hidden" name="item_id" value="{{ item.id }}"/>
     <input type="submit" value="Update review"/>
  </form>
  
</body>

</html>