<!DOCTYPE html>
<html>

<head>
  <title>Edit review</title>
</head>

<body>
  <h1>Edit review</h1>
  <form action="/edit_review" method="post">

    <p>
        Title: <br/>
        <input 
          type="text" 
          name="title" 
          minlength="1"
          maxlength="255" 
          required
          value="{{ item.title }}"/>
    </p>

     <p>
         Body: <br/>
         <textarea 
          type="text" 
          name="review_body"
          rows="8"
          cols="60"
          minlength="1"
          maxlength="5000">
         {{ item.review_body }}
        </textarea>
     </p>

    <p>
        Stars:
    </p>
    <p>
      <input type="radio" name="stars" value="0" /> 0
      <input type="radio" name="stars" value="1" /> 1
      <input type="radio" name="stars" value="2" /> 2
      <input type="radio" name="stars" value="3" /> 3
      <input type="radio" name="stars" value="4" /> 4
      <input type="radio" name="stars" value="5" /> 5
    </p>

     <p>
         Work name: <br/>
         <input 
          type="text" 
          name="work"
          minlength="1"
          maxlength="255"
          value="{{ item.work }}"/>
     </p>

     <p>
         IMDb links: <br/>
         <input 
          type="text" 
          name="imdb_snippet"
          minlength="3"
          maxlength="255"
          value="{{ item.imdb_snippet }}"/>
     </p>
     <input type="hidden" name="item_id" value="{{ item.id }}"/>
     <input type="submit" value="Update review"/>
  </form>
</body>

</html>