<!DOCTYPE html>
<html>

<head>
  <title>Media4U</title>
</head>

<body>
  <h1>Media4U</h1>
  <p>
    <b>Welcome to the</b> <i>media review site</i>!
  </p>

  {% if session.username %}
  <p>
    Hello, {{ session.username }}
  </p>
  <p>
    <a href="/logout">Sign out</a>
  </p>
  {% else %}
  <p>
    <a href="/login"> Login </a>>
    <a href="/register"> Register </a>>
  </p>
  {% endif %}


  <!-- The following will be the actual movie review feature. -->
  {% if session.username %}
  <p>
    <a href = "/review_paper">Place new review</a>
  </p>

  <!-- The following shows an excerpt of review from the database -->
  {% endif %}



</body>

</html>