<!DOCTYPE html>
<html>

<head>
  <title>Media4U</title>
</head>

<body>
  <h1>Media4U</h1>
  <p>
    <b>Welcome to the</b> <i>media review site</i>!
  </p>

  {% if session.username %}
  <p>
    Hello, {{ session.username }}
  </p>
  <p>
    <a href="/logout">Sign out</a>
  </p>
  {% else %}
  <p>
    <a href="/login"> Login </a>>
    <a href="/register"> Register </a>>
  </p>
  {% endif %}

  <p>{{ message }}</p>
  <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>


  <form action="/result" method="post">
    <p>
      Anna viesti:
      <input type="text" name="message" />
    </p>
    <input type="submit" value="Lähetä" />
  </form>

</body>

</html>