<!DOCTYPE html>
<html>

<head>
  <title>Remove review</title>
</head>

<body>   
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <h1>Remove review</h1>
  <p>Warning: {{ item.title }}</p>
  <p>Are you sure you would like to remove this review?</p>
  <form action="/remove_review/{{ item.id }}" method="post">
    <input type="submit" name="remove" value="Remove review">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="back" value="Return back to review site">
  </form>
</body>

</html>