<!DOCTYPE html>
<html>

<head>
  <title>Media4U - new review box</title>
</head>

<body>
<!-- The bulk of the review system will be put in here.-->
<!-- The implementation here is that the username and id of poster will be inserted automatically in the backend.-->
  <h1>New review</h1>
  <form action="/create_review" method="post">

    <!-- Title -->
    <p>
        Title: <br/>
        <input 
          type="text" 
          name="title" 
          minlength="1"
          maxlength="255" 
          required/>
    </p>

    <!-- Review body text-->
     <p>
         Body: <br/>
         <textarea 
          type="text" 
          name="review_body"
          rows="8"
          cols="60"
          required></textarea>
     </p>

    <!-- Pick the score from 0 to 5. Nothing means unranked. Can be null-->
    <p>
        Stars:
    </p>
    <p>
      <input type="radio" name="stars" value="0" /> 0
      <input type="radio" name="stars" value="1" /> 1
      <input type="radio" name="stars" value="2" /> 2
      <input type="radio" name="stars" value="3" /> 3
      <input type="radio" name="stars" value="4" /> 4
      <input type="radio" name="stars" value="5" /> 5
    </p>

    <!-- Work being reviewed. Work id will be placed automatically **according to the imdb database.** This will be separate from the name of the work according to imdb-->
     <p>
         Work name: <br/>
         <input 
          type="text" 
          name="work"
          minlength="1"
          maxlength="255"
          required/>
     </p>

     <!-- IMDb work snippet-->
     <p>
         Link to work page: <br/>
         <input 
          type="text" 
          name="imdb_snippet"
          minlength="3"
          maxlength="255"
          required/>
     </p>

     <!-- Classification of the work - https://en.wikipedia.org/wiki/List_of_genres-->
      {% for class in classes %}
      <p>
        {{ class }}: <br/>
        <select name="classes">
          <option value="{{ option }}">(select)</option>
            {% for option in classes[class] %}
              <option value="{{ class }}:{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
      </p>
      {% endfor %}
      Note that genre separations are necessarily imperfect. Pick the one that fits your conception of the work at hand.
      </p>
      
     <input type="reset" value="Clear page and redo"/>
     <input type="submit" value="Submit review"/>
  </form>
</body>

</html>