{% extends "layout.html" %}

{% block title %}Media4U{% endblock %}

{% block content %}

  <!-- INFORMATION-->
  <h1>{{ item.title }}</h1>

  {% if session.user_id == item.user_id %}
  <nav>
  <ul>
    <li><a href = "/edit_review/{{ item.id }}">Modify entry</a></li>
    <li><a href = "/remove_review/{{ item.id }}">Remove entry</a></li>
    <li><a href = "/images/{{ item.id }}">Pictures</a></li>
  </nav>
  </ul>
  {% endif %}

  {% for image in images %}
  <p>
    <img src="/image/{{ image.id }}" alt="{{ image.id }}.png"/>
  </p>
  {% endfor %}

  <p>
    <br/>
    {{ item.review_body | show_lines }}
  </p>
  <ul>
  <li>
    Writer: <a href="/user/{{ item.user_id }}">{{ item.poster }}</a>
  </li>
  <li>
    Stars: {{ item.stars }}
  </li>
  <li>
    Work reviewed: {{ item.work }}
  </li>
  <li>
    Time posted: {{ item.time_posted }}
  </li>
  <li>
    Link to work page: {{ item.imdb_snippet }}
  </li>
  </ul>
  {% if classes %}
  <p>
    Classes:
    <ul>
      {% for class in classes %}
      <li>{{ class.title }}: {{ class.value }}</li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}

  <!-- COMMENTS -->
  <h2>Comments</h2>
  {% if not comments %}
  <p>None so far. Contribute to the conversation!</p>
  {% endif %}
  {% for comment in comments %}
  <div class="option">
    <h4>{{ comment.comment_title}}</h4>
    {{ comment.body | show_lines }}
    <br/>
    <p>Writer: <a href="/user/{{ comment.writer_id }}">{{ comment.writer }}</a></p>
    <p>Time posted: {{ comment.time_posted }}</p>
  </div>
  {% endfor %}

  <h2>New comment</h2>
    <form action="/new_comment" method="post">
      <label for="title">Title:</label></br>
      <input type="text" name="title" required/></br>
      <label for="review_body">Body:</label></br>
      <textarea type="text" name="review_body" rows="8" cols="60" required></textarea><br/>


      <input type="hidden" name="review_id" value="{{ item.id }}"/>
      <input type="hidden" name="review_title" value="{{ item.title }}"/>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" name="Comment"/>
    </form>
    
  <p>
    <a href = "/"> Return to main page</a>
  </p>
{% endblock %}