<!DOCTYPE html>
<html>

<head>
  <title>Media4U - Search review</title>
</head>

<body>
  <h1>Search review</h1>

  <form action="/search_review" method="get">
    <p>
        <label for="query">Search:</label>
        <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Search">
  </form>

  <p>
    <a href="/">Return to home</a>
  </p>

  {% if query %}
  <h2>Results</h2>

  <ul>
    {% for result in results %}
    <li><a href="/item/{{ result.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

</body>

</html>