{% extends "layout.html" %}

{% block title %}Media4U{% endblock %}

{% block content %}
  <h1>Search review</h1>

  <form action="/search_review" method="get">
    <p>
        <label for="query">Search:</label>
        <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Search">
  </form>

  <p>
    <a href="/">Return to home</a>
  </p>

  {% if query %}
  <h2>Results</h2>

    {% for result in results %}
    <div class="option">
    <a href="/item/{{ result.id }}">{{ result.title }}</a><br/>
    Posted at {{ result.time_posted }} for {{ result.work }} by {{ result.poster }}
    </div>
    {% endfor %}
  {% endif %}

  {% endblock %}