{% extends "layout.html" %}

{% block title %}Media4U{% endblock %}

{% block content %}
  <h1>Welcome, {{ user.username }}!</h1>
  <p>ID: {{ user.user_id }}</p>
  
  <h2>Profile picture</h2>
  {% if images %}
  {% for image in images %}
  <p>
    <img src="/user/image/{{ image.id }}" alt="{{ image.id }}.png"/>
  </p>
  {% endfor %}
  {% else %}
  <p>
    No pictures
  </p>
  {% endif %}

  <form action="/user/update_image" method="post" enctype="multipart/form-data">
    <p>
    <label for="image">New picture:</label>
    <input type="file" name="image" accept=".png"/>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /> 
    <input type="hidden" name="user_id" value="{{ session.user_id }}" /> 
    <input type="submit" value="Switch" />
  </form>

  <h2>Count</h2>
  <p>
    You have posted {{ entries | count }} review(s).
  </p>

  <h2>Reviews</h2>
  <ul>
    {% for entry in entries %}
    <li><a href="/item/{{ entry.id }}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>
  <p>
    <a href = "/"> Return to main page</a>
  </p>
{% endblock %}